.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.meta {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
